# Feature Engineering Exercises

Do your work for this exercise in a jupyter notebook named feature_engineering within the regression-exercises repo. Add, commit, and push your work.

1. Load the tips dataset.
    * a. Create a column named tip_percentage. This should be the tip amount divided by the total bill.
    * b. Create a column named price_per_person. This should be the total bill divided by the party size.
    * c. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?
    * d. Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?
    * e. Use all the other numeric features to predict tip percentage. Use select k best and recursive feature elimination to select the top 2 features. What are they?
    * f. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from pydataset import data

import warnings
warnings.filterwarnings('ignore')

## 1. Load the tips dataset.

In [3]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
df.isnull().sum()

total_bill        0
tip               0
sex               0
smoker            0
day               0
time              0
size              0
tip_percentage    0
dtype: int64

In [7]:
df.dtypes

total_bill         float64
tip                float64
sex               category
smoker            category
day               category
time              category
size                 int64
tip_percentage     float64
dtype: object

### a. Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [6]:
df['tip_percentage'] = round(df.tip / df.total_bill, 3)
df.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2           0.059
1       10.34  1.66    Male     No  Sun  Dinner     3           0.161
2       21.01  3.50    Male     No  Sun  Dinner     3           0.167
3       23.68  3.31    Male     No  Sun  Dinner     2           0.140
4       24.59  3.61  Female     No  Sun  Dinner     4           0.147

### b. Create a column named price_per_person. This should be the total bill divided by the party size.

In [12]:
df['price_per_person'] = round(df.total_bill / df['size'], 2)
df.head(3)

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
0,16.99,1.01,Female,No,Sun,Dinner,2,0.059,8.49
1,10.34,1.66,Male,No,Sun,Dinner,3,0.161,3.45
2,21.01,3.50,Male,No,Sun,Dinner,3,0.167,7.00

### c. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

> I think the the most useful features for predicting tip could be total_bill, day, and size.
> 
> tip and tip_percentage are dependent on each other.

### d. Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?